@{
	ViewData["Title"] = "About Page";
}
	<div class="container">
		<h2>About Me</h2>
		<p>I have been diving since I was 15 when I took my PADI open water course while on holiday with family in Menorca.  I was hooked instantly 
		and when I went to university to study computer science I joined the BSAC dive club based there.  The club was by no means a normal club with 
		a focus on technical diving from early on.</p>
		<p>I crossed over to BSAC and worked up the ladder from there gaining experience wherever I could.  I was going to Scapa Flow at least 
		once a year and as such completed my normoxic trimix course mainly so that I had access to any nitrox mix I wanted for deco.</p>
		<p>I completed a few trimix dives but the cost of open circuit trimix was prohibitive.  My diving stopped at this level until 2015 when at a 
		crossroads in my diving career I made the jump to CCR with the JJ CCR being my preferred unit.</p>
		<p>Choosing CCR give me a second wind in diving with more deeper and longer dives now more easily accessible.  Despite only holding a TDI Helitrox 
		certification I was doing dives down to 80m but finally decided to get certified ahead of a week long deep diving trip to Egypt for insurance purposes.</p>
		<p>Nowadays I conduct dives to just over 100m and a maximum of 3 hour runtimes.  During the winter months I can normally be found in Dorothea in Wales.  In 
		the summer months I try to do as much diving across the world as work/money/time allows.</p>
		<hr />
		<p>Software development wise I left university at 21 and was lucky enough to find a job in a billion dollar company developing B2C websites and applications.  
		These where predominantly written in .Net.  I worked there for 4 years before moving to a different company developing e-prescribing applications for use 
		within mental health.  I worked here for approximately 8 years moving from senior developer to team leader.  I finally decided on another move this time to the
		gambling industry where I now work as a development manager.</p>
		<p>In this new role I became much more hands off than I had anticipated and therefore with development withdrawal I decided to create deco stats.</p>

		<h2>About the Project</h2>
		<p>They say a picture says a 1000 words so..</p>
		<img src="~/images/DecoStats.jpg" alt="arhitecture diagram" class="img-responsive" />
	</div>

