@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
<style>
	.jumbotron {
		background-color: lightblue;
	}
</style>

<div class="jumbotron">
	<div class="container">
		<h2>DecoStats - Beta</h2>
		<h3>Improving diver safety..hopefully!</h3>
	</div>
</div>

<div class="container">
	<h2>DecoStats..why?</h2>
	<p>There has been much talk on dive forums on decompression theory, as a fellow diver what stood out 
	for me was that there was a disparity between what was being discussed in some of the <del>in</del>famous threads 
	and what I think my fellow divers where diving.</p>

	<p>We have a seen a big shift in decompression theory in the past 5~10 years.
	From the promotion of deep stops and shorter shallow stops, to the oxygen "window", and now back to more shallow stops and less deep 
	stops.</p>

	<h3>How are we meant to keep up?</h3>
	<p>For me personally what I was actually interested in was what people where actively diving in terms of profiles.  At this point I hit a brick wall as this information is 
	not easily accessible online.</p>

	<p>Being a software engineer myself I didn't think it would be too difficult to create a public repository of dives for the dive community 
	to do with it as it wishes.  I have created this project in two distinct parts:</p>
	<div class="list-group">
		<div class="list-group-item"><strong>DiveLog</strong> - what you are reading now.  A website which allows the uploading and viewing of the dive database.</div>
		<div class="list-group-item"><strong>DiveLog.API</strong> - a Web API web service which manages the dive log data.</div>
	</div>

	<p>The project has a clear separation, meaning what I choose to do with the data for the DiveLog website (this) is kept completely separate from the 
	actual data meaning other people can do what they like with it.</p>

	<div class="alert alert-info"><strong>Info</strong> To be clear, no personal data is collected during the upload, the only data collected is the dive profiles.</div>

	<p>The project is completely OpenSource and can be found at <a href="https://github.com/PhilDonegan/DiveLog">this GitHub repo.</a></p>

	<h3>Project Aims</h3>
	<p>My aims for this project are below, for my fellow computer geeks a more in depth explanation can be found <a asp-area="" asp-controller="Home" asp-action="About">here</a></p>
	<div class="list-group">
		<div class="list-group-item list-group-item-success">Create the Web API service to manage the dive data.</div>
		<div class="list-group-item list-group-item-success">Create the DiveLog website.</div>
		<div class="list-group-item list-group-item-success">Create the log searcher and viewer.</div>
		<div class="list-group-item list-group-item-success">Extend all of the above to maximize the amount of data generated from the dive parsers.</div>
		<div class="list-group-item list-group-item-success">Improve dive uploader experience with SignalR, use Hangfire for saving dives as background job.</div>
		<div class="list-group-item list-group-item-success">Statistical comparison of dive profiles</div>
		<div class="list-group-item">Manage the DCS/DCI dives better, online medical referrals to improve community knowledge on these dives.</div>
		<div class="list-group-item">Heat map of comparison dives.</div>
		<div class="list-group-item">Add more dive parsers.</div>
	</div>
</div>
