@model LogSearcherModel
@{
	ViewData["Title"] = "Dive Log Searcher";
}

	<div class="container">
		<h3>Search Logs</h3>
		<form asp-action="LogSearcherResults">
			<div class="form-group">
				<label asp-for="DiveType" class="control-label">Dive Type:</label>
				<select asp-for="DiveType" asp-items="Html.GetEnumSelectList<DiveLog.DTO.Types.DiveType>()">
					<option selected="selected" value="">Any</option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="TargetDepth">Target Depth (m):</label>
				<input type="number" asp-for="TargetDepth" />
				<label asp-for="TargetDepthRange">Target Depth Range +/- (m): </label>
				<input type="number" asp-for="TargetDepthRange" value="10" />
			</div>
			<div class="form-group">
				<label asp-for="TargetDiveTime">Target Dive Time (min):</label>
				<input type="number" asp-for="TargetDiveTime" />
				<label asp-for="TargetDiveTimeRange">Target Dive Time Range +/- (min)</label>
				<input type="number" asp-for="TargetDiveTimeRange" value="25" />
			</div>

			<input type="submit" value="Search" class="btn btn-primary" />
		</form>
	</div>
