@model  ShearwaterUploadModel
@{
	ViewData["Title"] = "Shearwater Upload";
}
<h1>Shearwater Dive Upload</h1>
<p>To upload your dives to DiveLog and help the project grow please follow these simple steps</p>
<ol>
	<li>Launch Shearwater Desktop</li>
	<li>Select File -> Backup Database</li>
	<li>Save the database to a location on your PC</li>
	<li>Browse button below and select the same file</li>
	<li>Click Upload button</li>
</ol>
<p>Please note large dive databases may take a while to process > 5 minutes, please be patient.</p>

@{
	await Html.RenderPartialAsync("_FileUploader");
}