@page
@model DiveLog.Web.Pages.LogViewerModel
@{
	ViewData["Title"] = "Log Viewer";
}

<div class="row">
	<div class="col-md-3">
		<a asp-page-handler="DiveLogs">Get Dive Logs</a>
	</div>
</div>

<h3>Logs</h3>
<div>
	<div id="chartContainer"></div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				title: {
					text: "Dive Profile"
				},
				animationEnabled: true,
				axisY: {
					includeZero: false,
					prefix: "",
					reversed: true,
					title: "Depth (m)"
				},
				axisX: {
					title: "Time (min)"
				},
				toolTip: {
					shared: true,
					content: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span> <span style='\"'color: dimgrey;'\"'>{y}</span> "
				},
				legend: {
					fontSize: 13
				},
				data: [
					{
						type: "area",
						markerSize: 0,
						color: "rgba(54,158,173,.6)",
						dataPoints: @Html.Raw(ViewData["Datapoints"])
					}
				]
			});

			chart.render();
		});
	</script>
}
